/* 定义变量 */
.blur {
  -webkit-filter: blur(10px);
  /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
  /* IE6~IE9 */
}
.personalCenter-wrapper {
  position: relative;
  width: 940px;
  height: 200px;
  margin: 0 auto;
}
.personalCenter-wrapper > .blur-box {
  position: absolute;
  width: 940px;
  height: 200px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.personalCenter-wrapper .personalCenter-content {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.09);
}
.personalCenter-wrapper .personalCenter-content .headPortrait {
  float: left;
  padding-left: 75px;
  padding-top: 28px;
}
.personalCenter-wrapper .personalCenter-content .headPortrait .headPortraitTitle {
  position: relative;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
}
.personalCenter-wrapper .personalCenter-content .headPortrait .headPortraitTitle .headSelect {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.personalCenter-wrapper .personalCenter-content .headPortrait .headPortraitTitle .sexSelect {
  position: absolute;
  bottom: 8px;
  right: 14px;
}
.personalCenter-wrapper .personalCenter-content .headPortrait > h2 {
  width: 110px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.personalCenter-wrapper .personalCenter-content .personalInfo {
  float: left;
  padding-left: 76px;
  padding-top: 42px;
}
.personalCenter-wrapper .personalCenter-content .personalInfo .DataIntegrity {
  width: 240px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.personalCenter-wrapper .personalCenter-content .personalInfo .DataIntegrity .progressBar {
  display: inline-block;
  position: relative;
  top: -8px;
  left: 6px;
}
.personalCenter-wrapper .personalCenter-content .personalInfo .DataIntegrity .progressBar .progress_back {
  position: absolute;
  left: 0;
  background: #f2f2f2;
  border-radius: 100px;
  width: 102px;
  height: 8px;
}
.personalCenter-wrapper .personalCenter-content .personalInfo .DataIntegrity .progressBar .progress {
  position: absolute;
  left: 0;
  top: 1px;
  background: #8ec060;
  border-radius: 100px;
  width: 50px;
  height: 6px;
}
.personalCenter-wrapper .personalCenter-content .personalInfo .DataIntegrity .personalEdit {
  position: relative;
  left: 106px;
  top: -2px;
  cursor: pointer;
}
.personalCenter-wrapper .personalCenter-content .personalInfo > p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.personalCenter-wrapper .personalCenter-content .partingLine {
  float: left;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 2px;
  height: 100px;
  margin: 50px 35px 50px 60px;
}
.personalCenter-wrapper .personalCenter-content .cartSelect {
  margin-top: 18px;
}
.personalCenter-wrapper .personalCenter-content .personalSetting {
  position: absolute;
  right: 0;
  top: 0px;
  cursor: pointer;
}
.personalInfo-wrapper {
  width: 960px;
  margin: 30px auto 30px;
  padding: 0 10px;
  overflow: hidden;
}
.personalInfo-wrapper .asideInfo {
  float: left;
  background: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  width: 220px;
  height: 462px;
  text-align: center;
}
.personalInfo-wrapper .asideInfo .infoContent li {
  width: 220px;
  height: 50px;
  text-align: left;
}
.personalInfo-wrapper .asideInfo .infoContent li a {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  font-size: 16px;
  color: #1f2c5c;
}
.personalInfo-wrapper .asideInfo .infoContent li a:hover {
  background: #8ec060;
  color: #fff;
}
.personalInfo-wrapper .asideInfo .infoContent li .active {
  background: #8ec060;
  color: #fff;
}
.modal .modal-dialog .modal-content .modal-body form .form-group {
  font-size: 14px;
  color: #808080;
  font-weight: bold;
  margin-left: 28px;
  margin-bottom: 20px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group > label {
  width: 76px;
  margin-right: 4px;
  text-align: left;
}
.modal .modal-dialog .modal-content .modal-body form .form-group input {
  width: 262px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .radio-inline {
  margin-left: 20px;
  font-size: 14px;
  color: #808080;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .radio-inline input {
  width: 20px;
  height: 20px;
  margin-left: -26px;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .menu-com {
  display: none;
  position: absolute;
  top: 49px;
  left: 84px;
  width: 262px;
  background: #fff;
  border: 1px solid #8ec060;
  z-index: 999;
  border-top: none;
  height: 220px;
  overflow-y: scroll;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .menu-com li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .menu-com li a {
  display: block;
}
.modal .modal-dialog .modal-content .modal-body form .form-group .menu-com li a:hover {
  color: #fff;
  background: #8ec060;
}
.modal .modal-dialog .modal-content .modal-body form .form-birth > div {
  width: 398px !important;
  height: 50px !important;
}
.modal .modal-dialog .modal-content .modal-body form .form-birth > div input {
  left: 29px;
}
.modal .modal-dialog .modal-content .modal-body form .form-head button {
  width: 342px;
  background: #f2f2f2;
  color: #808080;
  outline: none;
  opacity: 0.8;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.modal .modal-dialog .modal-content .modal-body form .form-head button:hover {
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  background: #ddd;
}
.modal .modal-dialog .modal-content .modal-body form .form-sex {
  width: 342px;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body form .form-submit button {
  width: 342px;
  background: #8ec060;
  color: #fff;
  font-size: 16px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.modal .modal-dialog .modal-content .modal-body form .form-submit button:hover {
  background: #1f2c5c;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.rightInfo {
  width: 720px;
  min-height: 100px;
  padding: 10px;
  padding-left: 20px;
  float: right;
}
.rightInfo .ticket-title {
  overflow: hidden;
}
.rightInfo .ticket-title > li {
  float: left;
  width: 50%;
  text-align: center;
}
.rightInfo .ticket-title > li > a {
  font-size: 18px;
  color: #131c3e;
}
.rightInfo .ticket-title > li > img {
  margin-top: 10px;
}
/* 配置屏幕 针对小屏幕*/
