@charset "utf-8";
/* 定义变量 */
.wysiwyg-toolbar-form .btn-div {
  float: right;
  margin: 10px 0;
}
.wysiwyg-toolbar-form .btn-div .insertBtn {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 18px;
  background-color: #3772d5;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.wysiwyg-browse {
  height: auto;
  line-height: 20px;
  margin: 10px 0;
}
.p-diary-section {
  position: relative;
  width: 1320px;
  margin: 0 auto;
  margin-top: 10px;
}
.p-diary-section .page-wrap {
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
}
.p-diary-section .page-wrap .t-comment-page {
  max-width: 800px;
  margin: 0 auto;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}
.p-diary-section .page-wrap .t-comment-page .prevPage {
  margin: 0 5px;
  border: 0;
}
.p-diary-section .page-wrap .t-comment-page .nextPage {
  margin: 0 5px;
  border: 0;
}
.p-diary-section .page-wrap .t-comment-page .current {
  padding: 0 10px;
  line-height: 28px;
  display: inline-block;
  margin: 0 5px;
  background-color: #3897cd;
  color: #ffffff;
  border-color: #3897cd;
}
.p-diary-section .page-wrap .t-comment-page > a {
  padding: 0 10px;
  line-height: 28px;
  border: 1px #cccccc solid;
  display: inline-block;
  margin: 0 5px;
  color: #8a8a8a;
}
.p-diary-section .page-wrap .t-comment-page > a:hover {
  color: #3897cd;
  border-color: #3897cd;
}
.p-diary-section .page-wrap .t-comment-page .disabled {
  color: #ccc;
  margin: 0 5px;
}
.p-diary-section .p-diary-secyion-leftall {
  width: 30px;
  height: 760px;
  float: left;
}
.p-diary-section .left-bg:hover {
  background: #3772D5;
  color: #ffffff;
  border-color: #ffffff;
}
.p-diary-section .p-diary-secyion-left {
  width: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 35px;
  float: left;
  background: #ffffff;
  box-shadow: -1px 1px 4px 0 rgba(55, 114, 213, 0.5), 1px -1px 4px 0 rgba(55, 114, 213, 0.5);
  padding: 15px 0;
  display: flex;
  color: #1f2c5c;
  align-items: center;
  cursor: pointer;
}
.p-diary-section .p-diary-secyion-left .glyphicon {
  font-size: 18px;
  width: 30px;
  text-align: center;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul {
  float: left;
  width: 30px;
  border-radius: 4px;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul > li {
  line-height: 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .active {
  background: #3772D5;
  color: #ffffff;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .upload {
  padding: 10px 0;
  border-radius: 0;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .upload:hover {
  background: #3772D5;
  color: #ffffff;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .upload .video-upload {
  position: absolute;
  left: 30px;
  top: -30px;
  width: 300px;
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(170, 199, 249, 0.5);
  border-radius: 4px;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .add-bg {
  text-align: center;
  font-weight: bold;
  font-family: Comfortaa;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .add-box {
  margin-top: 10px;
  background: #ffffff;
  border: 2px solid #aac7f9;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .play-tips {
  display: none;
  position: absolute;
  left: 42px;
  top: 80px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(55, 114, 213, 0.5);
  border-radius: 4px;
  width: 216px;
  font-family: Comfortaa;
  font-size: 14px;
  color: #1f2c5c;
  text-align: left;
  font-weight: 400;
  z-index: 999;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .play-tips:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -7px;
  width: 12px;
  height: 18px;
  background-image: url(../../images/EN/left_sanjiao.png);
  background-repeat: no-repeat;
}
.p-diary-section .p-diary-secyion-left .p-bg-ul .play-tips .glyphicon {
  font-size: 16px;
  color: #3772d5;
}
.p-diary-section .p-diary-secyion-center {
  background: #ffffff;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: -1px 1px 4px 0 rgba(55, 114, 213, 0.5), 1px -1px 4px 0 rgba(55, 114, 213, 0.5);
  /*右边阴影*/
  float: left;
  width: 1260px;
  height: 760px;
}
.p-diary-section .p-diary-secyion-center .p-diary-book-left {
  float: left;
  margin: 0 auto;
  width: 580px;
  height: 780px;
  max-height: 760px;
  overflow-y: hidden ;
}
.p-diary-section .p-diary-secyion-center .p-diary-book-center {
  float: left;
  margin: 0 auto;
  opacity: 0.3;
  background-image: linear-gradient(-90deg, rgba(66, 119, 250, 0) 0%, rgba(66, 119, 250, 0.5) 40%, rgba(66, 119, 250, 0.7) 50%, rgba(66, 119, 250, 0.5) 61%, rgba(66, 119, 250, 0) 100%);
  width: 90px;
  height: 760px;
}
.p-diary-section .p-diary-secyion-center .p-diary-book-right {
  float: left;
  margin: 0 auto;
  width: 580px;
  height: 760px;
}
.p-diary-section .p-diary-secyion-right {
  background: #ffffff;
  width: 30px;
  margin-top: 35px;
  float: left;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag {
  background: #3772d5;
  box-shadow: 1px 1px 4px 0 rgba(55, 114, 213, 0.5);
  float: left;
  width: 30px;
  height: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag .p-tag-ul {
  float: left;
  width: 30px;
  border-radius: 4px;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag .p-tag-ul > li {
  line-height: 30px;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag .p-tag-ul .add-tag {
  padding-left: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag .p-tag-ul .add-content {
  transform: rotate(-270deg);
  font-family: Comfortaa;
  font-size: 16px;
  padding-left: 0;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}
.p-diary-section .p-diary-secyion-right .p-diary-tag .p-tag-ul .tag-content {
  transform: rotate(-270deg);
  font-family: Comfortaa;
  font-size: 16px;
  margin-top: 30px;
  padding-left: 0;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload {
  background: #1f2c5c;
  float: left;
  margin-top: 20px;
  box-shadow: 1px 1px 4px 0 rgba(55, 114, 213, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 30px;
  height: 145px;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload .p-tag-ul {
  float: left;
  width: 30px;
  border-radius: 4px;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload .p-tag-ul > li {
  line-height: 30px;
  margin-top: 10px;
  font-size: 14px;
  padding-left: 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload .p-tag-ul .add-tag {
  padding-left: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload .p-tag-ul .add-content {
  transform: rotate(-270deg);
  font-family: Comfortaa;
  font-size: 16px;
  padding-left: 0;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}
.p-diary-section .p-diary-secyion-right .p-diary-upload .p-tag-ul .tag-content {
  transform: rotate(-270deg);
  font-family: Comfortaa;
  font-size: 16px;
  margin-top: 50px;
  padding-left: 0;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
}
.p-diary-section .p-diary-secyion-bottom {
  width: 350px;
  height: 30px;
  float: right;
  margin-right: 30px;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next {
  float: right;
  background: #3772d5;
  box-shadow: 1px 1px 4px 0 rgba(55, 114, 213, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 150px;
  height: 30px;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul {
  float: left;
  height: 30px;
  width: 145px;
  border-radius: 4px;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul > li {
  float: left;
  line-height: 30px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul .diary-upLoad {
  width: 20px;
  height: 20px;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul .add-tag {
  padding-left: 10px;
  text-align: center;
  font-size: 24px;
  width: 20px;
  font-weight: bold;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul .add-content {
  width: 60px;
  font-family: Comfortaa;
  font-size: 16px;
  padding-left: 20px;
  color: #ffffff;
  letter-spacing: 0;
}
.p-diary-section .p-diary-secyion-bottom .p-diary-next .p-tag-ul .tag-content {
  width: 50px;
  font-family: Comfortaa;
  font-size: 16px;
  padding-left: 12px;
  color: #ffffff;
  letter-spacing: 0;
}
