@charset "utf-8";
/* 定义变量 */
body {
  overflow: hidden;
  background: #1291ff;
}
/* 拖拽 */
.img-com {
  position: absolute;
  width: 210px;
  height: 153px;
  padding: 37px 30px;
  cursor: pointer;
}
.img-com h2 {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
  background: linear-gradient(135deg, #81E5FE 0%, #1639AE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-com h2 img {
  float: left;
  margin-right: 10px;
}
.img-com h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  width: 130px;
  height: 2px;
  background: #aac7f9;
}
.img-com h2 > span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.img-com p {
  padding: 10px;
  padding-top: 4px;
  font-size: 12px;
  color: #3772d5;
}
.img-com p img {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}
.img-bg-topRight {
  background: url('../../images/EN/travel-map-topRight.png') no-repeat;
}
.img-bg-topLeft {
  background: url('../../images/EN/travel-map-topLeft.png') no-repeat;
}
.img-bg-bottomLeft {
  padding: 30px;
  background: url('../../images/EN/travel-map-bottomLeft.png') no-repeat;
}
.img-bg-bottomRight {
  padding: 30px;
  background: url('../../images/EN/travel-map-bottomRight.png') no-repeat;
}
.img-seoul {
  top: 18px;
  left: 960px;
}
.img-macao {
  top: 420px;
  left: 660px;
}
.img-sihanoukville {
  top: 690px;
  left: 450px;
}
.img-HoChiMinh {
  top: 695px;
  left: 655px;
}
.img-HongKong {
  top: 326px;
  left: 824px;
}
.img-Palau {
  top: 650px;
  left: 1240px;
}
.img-PhnomPenh {
  top: 580px;
  left: 626px;
}
.img-Hanoi {
  top: 340px;
  left: 490px;
}
.img-SiemReap {
  top: 534px;
  left: 460px;
}
.dragWrap {
  z-index: 10;
  left: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  height: 0px;
}
.dragWrap .travel-map {
  cursor: move;
}
.travel-nav {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 50px;
  padding: 0 80px;
}
.travel-nav > p {
  height: 50px;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 0 50px 0 rgba(170, 199, 249, 0.5);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.travel-nav > p img {
  margin-top: -6px;
  margin-right: 7px;
}
.travel-nav > p span {
  font-size: 20px;
  background: linear-gradient(135deg, #81E5FE 0%, #1639AE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.travel-nav .t-return {
  float: left;
  width: 200px;
}
.travel-nav .t-share,
.travel-nav .t-plan {
  padding: 0 20px;
  float: right;
}
.travel-nav .t-share {
  margin-right: 40px;
}
.t-content > li {
  float: left;
  width: 20%;
  margin-top: 20px;
  padding-left: 1%;
  padding-right: 1%;
}
.t-content > li > div {
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  background: #fff;
  transition: all .6s;
  -webkit-transition: all .6s;
}
.t-content > li > div > h2 {
  width: 100%;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(135deg, #81E5FE 0%, #1639AE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.t-content > li > div > img {
  width: 100%;
}
.t-content > li > div > p {
  color: #3772D5;
  margin-top: 10px;
  overflow: hidden;
}
.t-content > li > div > p .m-s5-local,
.t-content > li > div > p .s1 {
  float: left;
}
.t-content > li > div > p .m-s5-see,
.t-content > li > div > p .s2 {
  float: right;
}
.t-content > li > div > p .m-s5-local {
  margin-top: 3px;
  margin-right: 6px;
}
.t-content > li > div > p .m-s5-see {
  margin-top: 5px;
  margin-left: 6px;
}
.t-content > li > div:hover {
  box-shadow: 0 0 30px 0 #aac7f9;
  transition: all .6s;
  -webkit-transition: all .6s;
}
.t-content > li > h3 {
  margin-top: 10px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t-content > li > h3 > span {
  color: #1639AE;
  margin-left: 10px;
}
/* Hover */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hover {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover:hover,
.hover:focus,
.hover:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
