
@charset "utf-8";

/* 定义变量 */
@url:"../../images/EN/";
@green:#8ec060;
@purple:#1f2c5c;
@gray:#808080;
@red:#d0011b;
@link:#00908c;
@green2:#81E5FE;
@green3:#F7FAFF;
@blue:#1639AE;
@blue2:#3772D5;
@blue3:#AAC7F9;
@linear:linear-gradient(135deg, #81E5FE 0%, #1639AE 100%);

.lanmeiHeader{
	position: absolute;
	top: 0;
	z-index: 9;
	padding-left: 30px;
	padding-top: 20px;
	.lanmeiNav{
		overflow: hidden;
		.lanmeiLogo{
			float: left;
		}
		.lanmeiHeadInfo{
			float: right;
			>li{
				float: left;
			}
		}
	}
}

.lm-banner{
	position: relative;
	margin-bottom: 100px;
	.lm-banner-left{
		width: 80%;
		>img{
			width: 100%;
		}
		.travel-start{
			position: absolute;
			top: 130px;
			left:150px;
			>h2{
				font-size: 28px;
				color:#fff;
				font-weight: bold;
			}
			>p{
				font-size: 14px;
				color: #F1FAFF;
				margin-top: 8px;
			}
			>a{
				width: 120px;
				height: 40px;
				line-height: 40px;
				display: inline-block;
				text-align: center;
				background: #FFF;
				box-shadow: 0 0 70px 0 #1051A2;
				border-radius: 4px;
				margin-top: 30px;
				span{
					background: @linear;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}
	.lm-banner-right{
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		>img{
			position: absolute;
			width: 30%;
		}
		.img2{
			right:300px;
			top:220px;
			width: 30%;
		}
		.img3{
			right:300px;
			top:480px;
		}
		.img4{
			right: 296px;
			top: 358px;
			width: 30%;
		}
		.img5{
			right:458px;
			top:417px;
		}
	}
}

section{
	margin-bottom: 100px;
}

.clearfloat{clear:both;}

.section-1{
	>ul{
		width: 940px;
		margin:0 auto;
		overflow: hidden;
		li{
			float: left;
			width: 25%;
			text-align: center;
			a{
				display: inline-block;
				width: 140px;
				height: 140px;
				-webkit-transition:all 0.6s;
				transition:all 0.6s;
				.p1{
					font-size: 16px;
					font-weight: bold;
					background: @linear;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					margin-top:12px;
				}
				.p2{
					font-size:14px;
					color:#1f2c5c;
					margin-top: 10px;
				}
				img{
					margin-top: 25px;
				}
			}
		}
		.nth-child1{a{color:#8ec060;}}
		.nth-child2{a{color:#4aa374;}}
		.nth-child3{a{color:#00908c;}}
		.nth-child4{a{color:#006d94;}}
		.nth-child5{a{color:#004190;}}
		.nth-child6{a{color:#1f2c5c;}}
	}
}

.section-3{
	>ul{
		width: 960px;
		margin:0 auto;
		>li{
			float: left;
			width: 30%;
			box-shadow: 0 0 100px 0 rgba(185,216,255,0.50);
			border-radius: 10px;
			overflow: hidden;
			>img{
				width: 100%;
			}
			>p{
				color: @blue;
				font-size: 20px;
				margin-top: 20px;
				text-align: center;
			}
			>h2{
				font-size: 36px;
				font-weight: bold;
				margin-top: 20px;
				text-align: center;
				background: @linear; 
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			>ul{
				margin-top: 20px;
				.s-n1{
					width: 100%;
					height:40px;
					line-height: 40px;
					font-size: 14px;
					padding-left: 30px;
					color:@blue2;
					background: @green3;
				}
				.s-n2{
					margin-top: 11px;
					padding: 0 30px;
					overflow: hidden;
					>span{
						font-size: 14px;
						color:@blue2;
					}
					>div{
						margin-top: 6px;
						>p{
							float: left;
							font-size: 14px;
							color:@blue3;
							padding:8px;
							margin-right: 10px;
							margin-top: 10px;
							border-radius: 5px;
							background: @green3;
						}
					}
				}
			}
			>a{
				display: block;
				width: 180px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				color: #fff;
				margin:20px auto;
				background: @linear;
				border-radius: 4px;
			}
		}
		>.n2{
			margin:0 5%;
		}
	}
}

.section-4{
	width: 100%;
	height: 565px;
	background: url("@{url}m-s4-1.png") center no-repeat;
	background-size: cover;
	background-position: 50% -320px;
	.s4-content{
		position: relative;
		height: 100%;
		padding-top: 40px;
		background: linear-gradient(135deg, rgba(129,229,254,0.8) 0%, rgba(22,57,174,0.8) 100%);
		>h2{
			font-size: 36px;
			font-weight: bold;
			color:#fff;
			text-align: center;
		}
		.s4-wrapper{
			margin-top: 40px;
			>div{
				width: 960px;
				margin:0 auto;
				>img{
					width: 50%;
				}
				>div{
					float: right;
					width: 50%;
					padding:10px;
					padding-left: 50px;
					>h3{
						font-size: 26px;
						font-weight: bold;
						color:#fff;
					}
					>.p1{
						font-size: 18px;
						color:@blue3;
						margin-top: 14px;
						>img{
							margin-left: 20px;
							margin-right: 10px;
						}
					}
					>.p2{
						height: 120px;
						overflow: hidden;
						font-size: 14px;
						line-height: 25px;
						color:@blue3;
						margin-top: 20px;
					}
					>.p3{
						margin-top: 20px;
						overflow: hidden;
						>img{
							float: left;
							margin-top: 20px;
						}
						>span{
							float: left;
							font-size: 14px;
							color:#fff;
							margin-left: 10px;
							margin-top: 20px;
						}
						>a{
							float: right;
							display: inline-block;
							background:#fff;
							border-radius:4px;
							width:100px;
							height:40px;
							line-height: 40px;
							text-align: center;
							font-size: 20px;
							span{
								background-image: @linear;
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}
				}
			}			
		}
		>p{
			position: absolute;
			top: 50%;
			cursor: pointer;
			span{
				display: inline-block;
				font-size: 14px;
				width: 20px;
				color:#fff;
				text-align: center;
			}
			>img{
				position: absolute;
				top: 50%;
				margin-top: -7px;
			}
		}
		.s4-arrow-prev{
			left: 15px;
			margin-top: -76px;
			>img{
				left: 24px;
			}
		}
		.s4-arrow-next{
			right: 15px;
			margin-top: -38px;
			>img{
				right: 24px;
			}
		}
	}
}

.section-5{
	.travel-diary{
		width: 960px;
		margin:0 auto;
		margin-top: 30px;
		.t-title{
			height: 70px;
			border:1px solid;
			border-image: linear-gradient(to right, #81E5FE 0%, #1639AE 100%) 30 30;
			border-top: none;
			border-left: none;
			border-right: none;
			>h2{
				float: left;
				font-size: 24px;
				height: 70px;
				line-height: 70px;
				background: @linear;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				margin-right: 30px;
			}
			.t-country{
				float: left;
				position: relative;
				height: 70px;
				line-height: 70px;
				>span{
					font-size: 18px;
					color:@blue2;
					margin-right: 10px;
					padding:6px;
					padding-right: 26px;
					box-shadow: 0 0 20px #B9D8FF;
					border-radius: 10px;
					background: url('@{url}t-down-arrow.png') 94% no-repeat;
					cursor: pointer;
				}
				.t-menu{
					display: none;
					position: absolute;
					top: 50px;
					width: 130px;
					padding:10px;
					background:#fff;
					box-shadow: 0 10px 20px rgba(0,0,0,0.2);
					>li{
						font-size: 14px;
						color:@purple;
						line-height: 30px;
						cursor: pointer;
						-webkit-transition:all 0.3s;
						transition:all 0.3s;
						&:hover{
							color:@green;
							-webkit-transition:all 0.3s;
							transition:all 0.3s;
						}
					}
				}
			}
			.hot{
				float: right;
				height: 70px;
				line-height: 70px;
				color:@blue;
				a{font-size: 18px;}
				.a1{
					color: @blue;
					margin-right: 20px;
				}
				.a2{
					color:@blue3;
					margin-left: 20px;
				}
			}
		}
		.t-content{
			padding:20px 10px 12px;
			overflow: hidden;
			border-bottom:1px dashed @blue3;
			.t-head{
				float: left;
				width: 80px;
				img{width: 80px;}
			}
			.t-main{
				margin-left: 100px;
				padding-top: 20px;
				>h2{
					a{
						font-size: 20px;
						color:@blue;
						margin-bottom: 18px;
					}
				}
				.t-time{
					margin-bottom: 24px;
					margin-top: 6px;
					>a{
						color:@blue2;
						font-size: 14px;
						margin-right:20px;
					}
					>span{
						font-size: 14px;
						color:@blue3;
					}
					>p{
						float: right;
						span{
							font-size: 14px;
							color:@blue3;
							margin-right:10px;
						}
					}
				}
				.t-money{
					overflow: hidden;
					margin-bottom: 20px;
					li{
						float: left;
						height: 26px;
						font-size: 14px;
						padding:3px 10px;
						margin-right: 10px;
						color:#fff;
						background:@linear;
					}
				}
				.t-imgs{
					overflow: hidden;
					>li{
						float: left;
						width: 198px;
						height: 136px;
						margin-bottom: 8px;
						img{
							width: 100%;
							height: 100%;
						}
						margin-right: 8px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	
}

@media screen and (min-width: 1366px) {
	// .section-4{
	// 	height: 460px;
	// 	.s4-content{
	// 		padding-top: 20px;
	// 		>h2{
	// 			font-size: 30px;
	// 		}
	// 		.s4-wrapper > div > div{
	// 			padding-left: 30px;
	// 			>h3{
	// 				font-size: 22px;
	// 			}
	// 			>.p1{
	// 				font-size: 16px;
	// 				>img{width: 24px;}
	// 			}
	// 			>.p2{
	// 				margin-top: 10px;
	// 			}
	// 		}
	// 	}
	// }
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 767px) {
	
}
